<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.waitou.rxjava">

    <application
        android:name=".RApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".demos.demo4.RecycleViewActivity"/>
        <activity android:name=".demos.demo3.LieActivity"/>
        <activity android:name=".demos.demo1.ExpandableListViewActivity"/>
        <activity android:name=".demos.demo2.VerticalViewPagerActivity"/>
        <activity android:name=".demos.demo5.AnimationsActivity"/>
        <activity android:name=".demos.demo6.ExpandableActivity"/>
        <activity android:name=".demos.expandablerecycler_demo7.ExpandableRecyclerActivity"/>
        <activity android:name=".demos.expandableview_demo8.ExpandableViewActivity"/>
    </application>

</manifest>